body {
	background: url(../img/page1_bimg.jpg);
	position: relative;
	width: 100%;
	background-color: #ddd;
	background-size: 100%;
	background-repeat: no-repeat;
}

.section {
	font: 50px "Microsoft Yahei";
	color: #fff;
}

.img_Circle {
	position: absolute;
	bottom: 2%;
	padding-left: 47%;
	width: 6%;
}

.div_img {
	width: 99%;
	display: block;
}

.page1_div_line .div_img {
	opacity: 0;
}

.section1 {
	text-align: center;
}

.page1_div_logo {
	    width: 100%;
    padding-left: 10%;
    padding-top: 45%;
	display: none;
}

.section1 p {
	font-size: 1.1rem;
	color: #2CF2A8;
	font-weight: bold;
	display: none;
}

.page2_div_text {
	display: block;
	padding-top: 3%;
	width: 40%;
	opacity: 0;
	margin-left: 6%;
}

.page2_div_img {
	width: 71%;
	padding-left: 14.5%;
	margin-top: 14%;
	opacity: 0;
}

.page2_div_line .div_img {
	margin-top: 7%;
	opacity: 0;
}

.page2_div_WeP {
	width: 70%;
	padding-left: 15%;
	margin-top: 6.5%;
}

.section2 p {
	font-size: 0.5rem;
	letter-spacing: -1px;
	opacity: 0;
	line-height: 22px;
}

.page3_div_text {
	display: block;
	padding-top: 3%;
	width: 88%;
	opacity: 0;
	padding-left: 5%;
}

.page3_div_div {
	margin-top: 2%;
	width: 88%;
	padding-left: 6%;
}

.page3_div_div img {
	opacity: 0;
}

.page3_div_img {
	padding-bottom: 5%;
	padding-top: 5%;
}

.page3_div_img4 {
	margin-top: 4%;
	width: 86%;
	padding-left: 7%;
	position: relative;
	display: none;
}

.page3_div_p {
	display: none;
}

.page3_div_img1,
.page3_div_img2,
.page3_div_img3 {
	position: relative;
}

.page3_div_img2 span,
.page3_div_img2 p {
	width: 63%;
	display: inline-block;
	position: absolute;
	margin-left: -12%;
	left: 51%;
	transform: translate(-50%, -50%);
}

.page3_div_img1 p,
.page3_div_img3 p {
	width: 100%;
	display: inline-block;
	position: absolute;
	margin-left: 28%;
	left: 51%;
	transform: translate(-50%, -50%);
}

.page3_div_img4 p {
	font-size: 0.5rem;
	width: 90%;
	display: inline-block;
	position: absolute;
	padding-left: 7%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page4_div_text {
	padding-top: 5%;
	width: 34%;
	margin-left: 6%;
	opacity: 0;
}

.page4_div_img {
	padding-bottom: 26%;
	opacity: 0;
}

.page4_div_div {
	width: 62%;
	margin-top: 7.5%;
	margin-left: 19%;
}

.page4_div_left {
	float: left;
	width: 40%;
}

.page4_div_right {
	float: right;
	width: 40%;
}

.page5_div_text {
	padding-top: 3%;
	width: 46%;
	margin-left: 6.5%;
	opacity: 0;
}

.section5 p {
	font-size: 0.6rem;
	color: #2CF2A8;
	text-align: center;
	margin-right: 2%;
	display: none;
}

.page5_div_div {
	width: 92%;
	margin-left: 4%;
	margin-top: 6%;
}

.page5_img,
.page6_img,
.page6_p {
	opacity: 0;
}

.page6_div_text {
	padding-top: 5%;
	width: 39%;
	margin-left: 7.5%;
	opacity: 0;
}

.page6_div_img1 {
	margin-top: 9%;
	width: 78%;
	padding-left: 11%;
	position: relative;
}

.page6_div_img1 p {
	text-align: center;
	font-size: 0.5rem;
	line-height: 20px;
	width: 100%;
	display: inline-block;
	position: absolute;
	right: -6%;
	transform: translate(-50%, -50%);
}

.page7_radius {
	opacity: 0;
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	background-color: white;
	border-radius: 0.4rem;
}

.page7_img_left {
	position: absolute;
	display: -webkit-inline-box;
}

.page7_img_left,
.page7_img_right {
	opacity: 0;
}

.page7_div_text {
	padding-top: 3%;
	width: 40%;
	margin-left: 5.5%;
	opacity: 0;
}

.page7_div_img1 {
	position: relative;
	width: 100%;
	top: 10%;
	right: -58%;
}

.pace7_div_img4 {
	width: 88%;
	padding-left: 6%;
	padding-top: 3%;
	display: none;
}

.page8_div_text {
	padding-top: 5%;
	width: 33%;
	margin-left: 6.5%;
	opacity: 0;
}

.page8_div_img1 {
	width: 90%;
	padding-left: 5%;
	margin-top: 17%;
	display: none;
}

.page8_div_img2 {
	width: 9%;
	margin-left: 26.5%;
	margin-top: 13%;
	position: relative;
	padding-right: 54%;
	display: none;
}

.page8_div_img2 p {
	font-size: 0.6rem;
	width: 100%;
	display: inline-block;
	position: absolute;
	margin-left: 16%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mui_div {
	width: 12%;
	height: 12%;
	position: absolute;
	right: 3%;
	z-index: 5;
}

.mui_end,
.mui_sta {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}